body {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.contenido {
  max-width: 1024px;
}

h1 {
    text-align: center;
    color: #F90716;
}

h1 {
animation: cambiarVariosColores 4s ease-in-out infinite alternate;
}

@keyframes cambiarVariosColores {
  0% {
    color: red;
  }
  20% {
    color: blue;
  }
  40% {
    color: yellow;
  }
  60% {
    color: blueviolet;
  }
  80% {
    color: orangered;
  }
  100% {
    color: gray;
  }
}

.container {
    background-image: url(img/onepiece.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    margin-top: 10px;
    min-height: 500px;
    border-radius: 20px;
}

a {
    font-family:'Pacifico', cursive;
    font-size: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    text-decoration: none;
    color:unset;
    background-color: rgba(255, 251, 0, 0.555);
    border-radius: 20px;
}

.colorChange:hover {
  animation-play-state: paused;
}

.colorChange {
    animation: colorChange 2s linear infinite alternate;
  }
  
  @keyframes colorChange {
    from {
      color: #f72121;
    }
    to {
      color: #b11cd6;
      font-size: 1.5em;
    }
  }
